<html>
  <head>
    <title>Compra Fallida</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11">
    <style>
      body {
        padding: 20px;
      }

    </style>

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
      <a class="navbar-brand" href="/products">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
          <path d="M13.5 8.928V14h-3v-3H6v3H3.5v-4.072l-2-.5V15h14v-5.644l-2 .5zm-1.446-.53L8 4.115 3.946 8.398l-.894-.448L8 2 14.948 7.95l-.894.447z"/>
        </svg>
      </a>
    </nav>
    <div class="container">
      <div class="send-button-container">
        <form action="/message/failed" method="get">
          <button class="btn btn-success btn-block send-button" type="submit">Enviar detalle de productos a correo electronico</button>
        </form>
      </div>
      <h1 class="mb-4">Compra Fallida</h1>
      <div class="alert alert-danger" role="alert">
        <p class="mb-0">No se pudo adquirir los siguientes productos por falta de stock:</p>
      </div>
      <div class="row">
        {{#each products}}
        <div class="col-md-4">
          <div class="card mb-4">
            <img src="{{this.product.thumbnail}}" class="card-img-top" alt="{{this.product.title}}">
            <div class="card-body">
              <h5 class="card-title">{{this.product.title}}</h5>
              <p class="card-text">{{this.product.description}}</p>
              <p class="card-text"><strong>Precio:</strong> {{this.price}}</p>
              <p class="card-text"><strong>Cantidad:</strong> {{this.quantity}}</p>
              <p class="card-text"><strong>Subtotal:</strong> {{this.subtotal}}</p>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>

  </body>
</html>
